.DinosaurApi-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin: 3em 2em;
}

@media screen and (max-width: 45rem) {
  .DinosaurApi-cards {
    display: flex;
    flex-wrap: wrap;
  }
}
